apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-coredns
  namespace: kube-system
  labels:
    objectset.rio.cattle.io/hash: f68201c46c5ebe4d2b9cec694e95f38f1e42f2d
spec:
  valuesContent: |-
    replicaCount: 1
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              k8s-app: kube-dns
    autoscaler:
      resources:
        limits:
          cpu: "100m"
          memory: "64Mi"
        requests:
          cpu: "25m"
          memory: "16Mi"
